/vendor
/node_modules

/.pillow-tmp

/.env
/.env.*
!.env.example

.DS_Store
Thumbs.db

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.phpunit.result.cache
.phpunit.cache
.php-cs-fixer.cache

/.idea
/.fleet
/.vscode
